.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.button{
  margin: 0;
  position: absolute;
  left: 48%;
  color: #EEEEEE;
  background-color: #000000;
  top:95%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  background-color: teal;
}

h2 {
  margin: 30px;
  font-family: fantasy;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #FFC947;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
